@import "bootstrap/scss/bootstrap";

* {
    font-family: 'montserrat', sans-serif;
}

body {
    background: #333333;
    background-image: url('/src/assets/images/background.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    backdrop-filter:blur(15px) brightness(110%);

    // background-size: cover;
    // border: 2px solid #d33649;
}

#initial {
    padding:10vh 10vw;
}
section {
    min-height: 70vh;
    align-items: center;
}


.navbar {
    padding: 20px;
}

.navlink {
    font-weight: 700;
    color: #e8e8e8;
    padding: 0px !important;
    margin-right: 15px;
    border-bottom: 3px solid transparent;
    text-decoration: none;

    &:hover {
        color: #f6f6f6;
        border-bottom: 3px solid #990100
    }

    &.active {
        color: #f6f6f6 !important;

        border-bottom: 3px solid #990100
    }
}

.dn-img {
    width: 500px;
    border: 1px solid #f6f6f6;
    border-radius: 10px;
}

.social-icon {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 22px;

    &:hover {
        color: #f6f6f6;
        border-bottom: 3px solid #990100
    }
}



.title-about {
    color: #d33649;
    font-weight: 700;
}



.lang-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;


    &:hover {
        cursor: pointer;
    }

}

.text-name {
    color: #d33649;
    font-weight: 700;
    font-size: 50px;

}

.text-initial {
    color: #fffcfc;
    font-weight: 700;
    font-size: 60px;
}



.img-about {
    width: 500px;
    margin-right: 20px;
}

.text-about {
    color: #fff;
    font-weight: 500;
    text-align: justify;

}

.icon-habilities {
    width: 150px;
    margin-right: 20px;
    

}

.fade-left-enter-active, .fade-left-leave-active {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .fade-left-enter, .fade-left-leave-to {
    transform: translateX(-30px);
    opacity: 0;
  }